commands:
  01_create_db_dir:
    command: "mkdir -p /var/app/db && chown webapp:webapp /var/app/db"

container_commands:
  01_migrate:
    command: "source /opt/elasticbeanstalk/deployment/env && python manage.py migrate --noinput"
    leader_only: true
  02_fix_db_perms:
    command: "chown webapp:webapp /var/app/db/db.sqlite3 || true"
